@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Global Boot Camp</h1>
    <p>This app is deployed using GitHub Actions for Containers v1</a>.</p>
</div>
