@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Global Boot Camp</h1>
    <h2>Container deployed from GitHub Actions. This is demo 2</h2p>
</div>
